@import 'tailwindcss';

/* css app variables (to use only in css files) */
:root {
  --app-color-background: #181820;
  --app-color-secondary-background: #fbf8f3;
  --app-color-gradient-1: #bb3fdd;
  --app-color-gradient-2: #fb6da9;
  --app-color-gradient-3: #ff9f7c;
  --app-color-border: #343343;
  --app-color-white: #ffffff;
  --app-color-grey-white: #dddddd;
  --app-color-grey: #808080;
  --app-color-error: #ff5252;
}

/* Tailwind css theme (to use in tsx files) */
@theme inline {
  --color-background: var(--app-color-background);
  --color-secondary-background: var(--app-color-secondary-background);
  --color-gradient-1: var(--app-color-gradient-1);
  --color-gradient-2: var(--app-color-gradient-2);
  --color-gradient-3: var(--app-color-gradient-3);
  --color-border: var(--app-color-border);
  --color-white: var(--app-color-white);
  --color-grey-white: var(--app-color-grey-white);
  --color-grey: var(--app-color-grey);
  --color-error: var(--app-color-error);
}

body {
  background: var(--app-color-secondary-background);
  color: var(--app-color-white);
}
